#description{
    background-color: #CACACA;
    font-size: 30px;
    padding: 30px;
    margin: 100px;
    border-radius: 30px;
}

#imgaccueil{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 30px;
}

#linkproduct{
    color: #CACACA;
    /* padding: 0; A FAIRE */
    text-decoration: none;
}