#description{
    background-color: #CACACA;
    font-size: 30px;
    padding: 30px;
    margin: 150px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 30px;
}

#imgaccueil{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 30px;
}

#linkproduct{
    color: #CACACA;
    width: auto !important;
    font-size: 30px;
    text-decoration: none;
    background-color: #0d6efd;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}

#linkproduct:hover{
    background-color: #397ad9;
}